.campersList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.listItem {
  list-style: none;
}

.loadedAmountInfo {
  font-size: 18px;
  color: var(--gray);
  text-align: center;
  opacity: 0.6;
  margin-bottom: 28px;
}
