/* App wrapper */
#root {
  margin: 0 auto;
  width: 1440px;
  text-align: center;
  border-inline: none;
  background-color: var(--white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media (min-width: 1441px) {
    border-inline: 1px solid var(--gray-light);
  }
}
