.header {
  position: sticky;
  top: 0;
  z-index: 10000;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--inputs);
  box-shadow: 0 2px 4px #0002;
}

.logo {
  position: absolute;
  top: 28px;
  left: 64px;
}

.navList {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLink {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: var(--main);
  text-decoration: none;

  &:hover {
    color: var(--green-hover);
  }

  &.active {
    color: var(--gray-green);
  }
}
