/* Base styles */
:root {
  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --rating: #ffc531;
  --favorite: #e44848;
  --favorite-hover: #d84343;
  --gray-green: #829b91;
  --olive: #f0f1f1;
  --green-hover: #6d7b75;
  --error: #ec383b;
  --error-light: #ffdfdf;

  --font-family: "Inter", sans-serif;
  --second-family: "Manrope", sans-serif;
}

/* Styles reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  font-family: var(--font-family);
  color: var(--main);
  background-color: var(--inputs);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
}
